@model Laboration2.Models.Ägare

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera</h1>

<h3>Är du säker du vill radera detta?</h3>
<div>
    <h4>Ägare</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hustyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hustyp.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Föregående</a>
    </form>
</div>
