@model Laboration2.Models.Hustyp

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera</h1>

<h3>Är du säker du vill radera detta?</h3>
<div>
    <h4>Hustyp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hustypen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hustypen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bildlänk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bildlänk)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
