@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        margin-bottom: 60px;
        background-image: url("https://images.squarespace-cdn.com/content/v1/5c76acb0d7819e45bc4f610b/1611317964568-V0NRBIA5VBWFTQKQ0JVP/villa-lovik-2020-low.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Välkommen till Laborationen för denna Kursen </h1>
    <p>Ahmad Khalil Systemutveklarennnn samm.</p>
</div>



